<article class="flex flex-col items-center justify-center text-center {{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }}">
  <header class="flex flex-col items-center mb-3">
    {{ with .Site.Params.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
    {{ $authorImage := $authorImage.Fill "288x288" }}
    <img class="mb-2 rounded-full w-36 h-36" width="144" height="144" alt="{{ $.Site.Author.name | default " Author" }}"
      src="{{ $authorImage.RelPermalink }}" />
    {{ end }}
    {{ end }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <h1 class="text-4xl font-extrabold">
        {{ .Site.Params.Author.name | default .Site.Title }}
    </h1>
    
    <label class="typing-label">
      I'm currently studying <span class="multipleStrings">
      </span> 
    </label>
    
    <script src="https://unpkg.com/typeit@8.8.6/dist/index.umd.js"></script>
    <script>
      new TypeIt(".multipleStrings", {
        breakLines: true,
        lifelike: false,
        loop: true,
        startDelay: 750,
        speed: 130,
        waitUntilVisible: true,
        cursor: true,
        cursorChar:"_",
        
      })
      .type("Cloud Computing ☁️.")
      .pause(1000)
      .delete(30)
      .type("Amazon Web Services.")
      .pause(1000)
      .delete(25)
      .type("DevOps Principles.")
      .pause(1000)
      .delete(25)
      .type("Containerization 🐳.")
      .pause(1300)
      .delete(25)
      .type("Infrastructure as Code.")
      .pause(1400)
      .delete(30)
      .type("Linux.")
      .pause(1000)
      .delete(25)
      .go();
    </script>
  
    <style>
      :root{
        --ti-cursor-color: white;
      }
      .typing-label {
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 25px;
        font-weight: 800;
        font-style: normal;
      }
    </style>
  
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ with . | markdownify | emojify }}
    </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
